@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

@layer components {
  /* Jika perlu custom component classes, tambahkan di sini */
  /* Contoh: .btn-custom { @apply px-4 py-2 rounded-lg; } */
  
    /* React Calendar Styles */
    .react-calendar {
      border: none !important;
      box-shadow: none !important;
    }
    .react-calendar__month-view {
      border: none !important;
    }
    .react-calendar__tile {
      border: none !important;
    }
}

@layer utilities {
  /* Jika perlu custom utility classes, tambahkan di sini */
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
}
